/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #2786d3;
  --main-transition: 0.3s;
  --main-background: #ececec;
  --pargraph: #696969;
  --main-padding: 100px 0;
  --green-color: #009688;
  --red-color: #f44036;
  --main-border: #d4d4d4;
}
body {
  font-family: "Cairo", sans-serif;
  /* font-family: "Lato", sans-serif; */
}
.triangles {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0),
    linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 32px 32px;
  transform: rotate(180deg);
}
.btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: var(--main-color);
  color: white;
  border: 2px solid #eee;
  outline: none;
  display: none;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: 1000;
}
.btn:hover {
  background-color: var(--main-color-alt);
}
.main-title {
  margin: 0 auto 80px;
  border: 2px solid;
  padding: 10px 20px;
  width: fit-content;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.main-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--main-color);
  border-radius: 50%;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.main-title:hover::before {
  z-index: -1;
  animation: left 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.h1 {
  font-size: 2em;
  font-weight: bold;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.img-max{
  max-width: 100%;
}
/* End Global Rules =================================================== */
/* Start Section Header================================================ */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
.header .main-nav {
  display: flex;
}
.header .main-nav > li > a {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 76px;
  position: relative;
  padding: 0px 30px;
  transition: var(--main-transition);
  font-weight: 500;
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 2.5px);
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  height: px;
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
}
.header .main-nav > li > a:hover::before {
  width: 100%;
}
/* start magamenu */
.header .main-nav .mega-menu {
  position: absolute;
  z-index: -1;
  background-color: white;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  top: calc(100% + 50px);
  padding: 50px;
  border-bottom: 5px solid var(--main-color);
  transition: top 0.5s, opacity 0.5s;
  opacity: 0;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.header .mega-menu .image img {
  width: 400px;
}
.header .mega-menu .links li {
  padding: 18px 0;
  min-width: 240px;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  transition: var(--main-transition);
  font-size: 20px;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
.header .mega-menu .links li a:hover {
  color: var(--main-color-alt);
  margin-left: 5px;
}
/* end megamenu ==========================================*/
/* End Section Header ====================================*/
/* Start Linding  ========================================*/
.linding {
  position: relative;
}
.linding::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.linding .container {
  min-height: calc(100vh - 78px);
  display: flex;
  align-items: center;
}
.linding .text {
  margin-bottom: 150px;
}
.linding .text h1 {
  font-size: 40px;
  min-width: 240px;
}
.linding .text span {
  color: var(--main-color);
}
.linding .text p {
  color: var(--pargraph);
  line-height: 30px;
  font-size: 20px;
}
.linding .image{
  flex-basis: 100%;
}
.linding .image img {
  position: relative;
  margin-bottom: 100px;
  animation: up-un 5s linear infinite;
}
.linding .fa-angle-double-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  transition: var(--main-transition);
  bottom: 10px;
}
.linding .fa-angle-double-down:hover {
  color: var(--main-color-alt);
}
.linding i {
  animation: bouncing 4s infinite;
}
/* End Linding ==================================== */
/* Start Articles ================================= */
.articles {
  padding: var(--main-padding);
}
.articles .all-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 40px;
}
.all-card .card {
  border: 1px solid #e0e3e5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 2px 15px #00000003;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.all-card .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px #0000001c;
}
.all-card .card .image {
  height: 180px;
}
.all-card .card .image img {
  width: 100%;
  height: 100%;
}
.all-card .card .text {
  padding: 20px 0;
  border-bottom: 1px solid #e0e3e5;
}
.all-card .card .text h3,
.all-card .card .text p {
  margin: 0 10px;
}
.all-card .card .text h3 {
  margin-bottom: 10px;
}
.all-card .card .text p {
  color: var(--pargraph);
  line-height: 23px;
}
.all-card .card .articles-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  color: var(--main-color);
}
.all-card .card .articles-footer a {
  font-weight: bold;
  color: var(--main-color);
}
.all-card .card .articles-footer a:hover {
  color: var(--main-color-alt);
}
.all-card .card:hover .articles-footer i {
  animation: moving-arrow 0.5s linear infinite;
}
/* End Articles ========================================= */
/* Start gallary ======================================== */
.gallary {
  background-color: var(--main-background);
  padding: var(--main-padding);
  position: relative;
}
.gallary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallary .container .box {
  border: 15px solid white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallary .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallary .container .box .image::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 100;
}
.gallary .container .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallary .container .box .image:hover img {
  transform: rotate(-5deg) scale(1.2);
}
.gallary .container .box img {
  transition: var(--main-transition);
}
/* End gallary =============================================*/
/* Start features ===========================================*/
.features {
  padding: var(--main-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .card {
  border: 1px solid #cdd0d9;
  overflow: hidden;
}
/****************************************/
.features .card .image {
  position: relative;
}
.features .card .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.features .card:hover .image::before {
  background-color: #2195f32f;
}
.features .red:hover .image::before {
  background-color: #f43f362f;
}
.features .green:hover .image::before {
  background-color: #0096872f;
}
.features .card .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 120px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .card:hover .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 500px 120px 0px;
  border-color: transparent transparent white transparent;
}
/****************************************/
.features .content {
  padding: 20px 10px;
}
.features .content h3 {
  margin: auto;
  margin-bottom: 30px;
  width: fit-content;
  border-bottom: 3px solid var(--main-color);
  padding: 10px 0;
  font-size: 30px;
  color: var(--main-color);
}
.features .content p {
  font-size: 16px;
  color: var(--pargraph);
  line-height: 30px;
}
.features .content button {
  margin: 35px 0 15px;
  padding: 10px 25px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  position: relative;
  font-weight: bold;
  font-size: 25px;
  background: none;
  outline: none;
  transition: var(--main-transition);
}
.features .red h3,
.features .red button {
  color: var(--red-color);
  border-color: var(--red-color);
}
.features .green h3,
.features .green button {
  color: var(--green-color);
  border-color: var(--green-color);
}
.features .content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: var(--main-transition);
}
.features .card:hover button {
  color: white;
}
.features .card:hover button::before {
  width: 100%;
}
.features .red:hover button::before {
  background-color: var(--red-color);
}
.features .green:hover button::before {
  background-color: var(--green-color);
}
/* End features ======================================*/
/* Start Testmonials =================================*/
.testmonials {
  position: relative;
  background-color: var(--main-background);
  padding: var(--main-padding);
}
.testmonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px 20px;
}
.testmonials .box {
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transition: transform var(--main-transition);
  transform: rotate(3deg) scale(0.9);
}
.testmonials .box:nth-child(2) {
  transform: rotate(-3deg) scale(0.9);
}
.testmonials .box:nth-child(4) {
  transform: rotate(-3deg) scale(0.9);
}
.testmonials .box:nth-child(6) {
  transform: rotate(-3deg) scale(0.9);
}
.testmonials .box:hover {
  transform: rotate(0) scale(1);
}
.testmonials .box .image {
  position: absolute;
  top: -60px;
  right: -15px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--main-background);
  overflow: hidden;
}
.testmonials .box p {
  color: var(--pargraph);
  margin: 10px 0;
}
.testmonials .box p:last-child {
  line-height: 25px;
}
.testmonials .box .row .fas {
  color: #f3d711;
}
/* End Testmonials ================================*/
/* Start Team-Member ==============================*/
.team-member {
  padding: var(--main-padding);
}
.team-member .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team-member .box {
  position: relative;
  padding: 50px 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
}
.team-member .box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  right: 0;
  top: 0;
  background-color: var(--main-background);
  z-index: -1;
  border-radius: 10px;
}
.team-member .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  transition: var(--main-transition);
  background-color: #e4e4e4;
  z-index: -1;
  border-radius: 10px;
}
.team-member .box:hover::after {
  width: 80%;
}
.team-member .box .row {
  display: flex;
  justify-content: space-between;
}
.team-member .box .image {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: var(--main-transition);
}
.team-member .box:hover .image {
  filter: grayscale(100%);
}
.team-member .box .social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  position: relative;
}
.team-member .box .social a {
  color: var(--pargraph);
  transition: var(--main-transition);
  font-size: 20px;
}
.team-member .box .social a:hover {
  color: var(--main-color);
}
.team-member .box .info {
  padding: 10px 10px 0;
  width: fit-content;
  margin: auto;
}
.team-member .box .info h3 {
  color: var(--main-color);
  margin: 10px 0;
  transition: var(--main-transition);
}
.team-member .box:hover .info h3 {
  color: black;
}
/* End Team-Member ===================================*/
/* start services  ===================================*/
.services {
  background-color: var(--main-background);
  padding: var(--main-padding);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .box {
  text-align: center;
  padding: 45px 0;
  position: relative;
  background-color: white;
  transition: var(--main-transition);
}
.services .box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  background-color: var(--main-color);
}
.services .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.services .box:hover::before {
  width: 100%;
}
.services .box i {
  margin-bottom: 10px;
  color: #d5d5d5;
}
.services .box h2 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 10px 0 0;
  height: 80px;
}
.services .box .info .meni-box {
  width: 30%;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .box .info .meni-box::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  right: -25px;
  top: 0;
  background-color: #d5d5d5;
  transform: skewX(332deg);
}
.services .box .info a {
  color: var(--main-color);
}
.services .meni-box h3 {
  font-size: 30px;
}
/* end services ======================================= */
/* start our skils =====================================*/
.our-skills {
  padding: var(--main-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  gap: 0 50px;
}
.our-skills .container .skills{
  width: 100%;
}
.our-skills .progress-perant {
  margin-bottom: 30px;
}
.our-skills .progress-perant .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.our-skills .progress-perant .d-flex h2 {
  color: var(--main-color);
}
.our-skills .progress-perant .d-flex span {
  color: var(--main-color);
  display: block;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 12px;
}
.our-skills .progress {
  width: 100%;
  height: 30px;
  background-color: #d5d5d5;
  position: relative;
}
.our-skills .progress::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}
.our-skills .progress-perant:nth-of-type(2) .progress::before {
  width: 85%;
}
.our-skills .progress-perant:nth-of-type(3) .progress::before {
  width: 60%;
}
.our-skills .progress-perant:nth-of-type(4) .progress::before {
  width: 75%;
}
/* end our skils ==========================================*/
/* start How-It-Works======================================*/
.How-It-Works {
  padding: var(--main-padding);
  background-color: var(--main-background);
  position: relative;
}
.How-It-Works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 50px;
}
.How-It-Works .container .work {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
}
.How-It-Works .container .work .box-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5f5;
  border: 2px solid white;
  gap: 30px;
  padding: 30px 20px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.How-It-Works .container .work .box-work::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ededed;
  transition: var(--main-transition);
  z-index: -1;
}
.How-It-Works .container .work .box-work:hover::before {
  width: 100%;
  height: 100%;
}
.How-It-Works .container .work .box-work .icon {
  width: 40%;
}
.How-It-Works .container .work .box-work .icon img {
  max-width: 100%;
}
.How-It-Works .container .work .content h3 {
  margin-bottom: 10px;
}
.How-It-Works .container .work .content p {
  color: var(--pargraph);
  line-height: 25px;
}
/* end How-It-Works========================================*/
/* start events ===========================================*/
.events {
  padding: var(--main-padding);
  position: relative;
}
.events::after {
  content: "";
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 175px;
  z-index: -1;
}
.events::before {
  content: "";
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 176px;
  z-index: -1;
}
.events .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
}
.events .container .image, .events .days-events {
  flex-basis: 50%;
}
.events .days-events .days-hours {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 30px;
}
.events .days-events .days-hours .box {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  width: 75px;
  padding: 15px 0 5px;
  transition: var(--main-transition);
}
.events .days-events .days-hours .box:hover {
  border-color: var(--main-color);
}
.events .days-events .days-hours .box:hover span {
  border-color: var(--main-color);
}
.events .days-events .days-hours .box h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--main-color);
}
.events .days-events .days-hours .box span {
  display: block;
  border-top: 1px solid #d4d4d4;
  padding: 5px 0;
  color: var(--pargraph);
  transition: var(--main-transition);
}
.events .days-events h2 {
  margin-bottom: 20px;
  font-size: 32px;
  min-width: 240px;
}
.events .days-events p {
  color: var(--pargraph);
  line-height: 30px;
  font-size: 15px;
}
/* start form */
.events .subscribe {
  margin: auto;
  margin-top: 50px;
}
.events .subscribe form {
  border: 35px solid #e1e1e1;
  border-radius: 80px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.events .subscribe form input[type="email"] {
  margin-right: 20px;
  padding: 30px;
  width: 100%;
  outline: none;
  border: none;
  outline: none;
  border-radius: 80px;
}
.events .subscribe form input[type="submit"] {
  margin-left: 5px;
  padding: 30px;
  width: 30%;
  outline: none;
  border: none;
  outline: none;
  border-radius: 80px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: var(--main-transition);
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end form */
/* end events =============================================*/
/* start plans============================================ */
.plans {
  background-color: var(--main-background);
  padding: var(--main-padding);
  position: relative;
}
.plans::before {
  content: "";
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 176px;
  z-index: 1;
}
.plans::after {
  content: "";
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 175px;
  z-index: 1;
}
.plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0 30px;
}
.plans .container .box {
  position: relative;
  z-index: 2;
  padding: 30px 0;
  background-color: white;
  transition: var(--main-transition);
}
.plans .container .box:hover {
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.plans .container .box:nth-of-type(2) {
  transform: translateY(-20px);
}
/* ****************************** */
.plans .container .box .label {
  position: absolute;
  width: 40px;
  top: 0;
  right: 30px;
  background-color: var(--main-color);
  color: white;
  writing-mode: vertical-rl;
  padding: 20px 10px 35px 10px;
  font-weight: bold;
}
.plans .container .box .label::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}
/* ****************************** */
.plans .container .box h3 {
  margin-bottom: 30px;
  font-size: 26px;
}
.plans .container .box img {
  width: 100px;
  height: 100px;
}
.plans .container .box h2 {
  margin-top: 30px;
  font-size: 60px;
  color: var(--main-color);
  font-weight: bold;
}
.plans .container .box span {
  color: var(--pargraph);
}
.plans .container .box ul {
  margin: 25px 0 40px;
}
.plans .container .box ul li {
  padding: 20px;
  border-top: 1px solid var(--main-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plans .container .box ul li i {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}
.plans .container .box a {
  margin: auto;
  border: 1px solid var;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  width: fit-content;
  display: block;
  padding: 20px;
  border-radius: 9px;
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
}
.plans .container .box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: var(--main-transition);
}
.plans .container .box:hover a::before {
  width: 100%;
}
.plans .container .box:hover a {
  color: white;
}
/* end plans============================================ */
/* start top-videos ==================================== */
.top-videos {
  padding: var(--main-padding);
}
.top-videos .container {
  display: flex;
  justify-content: space-between;
}
.top-videos .container .lists {
  width: 40%;
  border: 1px solid var(--main-border);
}
.top-videos .container .lists .top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background);
  font-weight: bold;
}
.top-videos .container .lists ul li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid var(--main-border);
  min-width: 250px;
}
.top-videos .container .lists ul li a {
  margin-bottom: 10px;
  color: black;
  transition: var(--main-transition);
}
.top-videos .container .lists ul li a:hover {
  color: var(--main-color);
}
.top-videos .container .lists ul li span {
  color: var(--pargraph);
}
.top-videos .container .lists ul li span i {
  margin-right: 10px;
  color: var(--main-color);
}
/* .videos-channel  */
.top-videos .container .videos-channel {
  width: 100%;
  padding: 5px;
  background-color: var(--main-background);
  border: 1px solid var(--main-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.top-videos .container .videos-channel .bottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 0 5px;
}
.top-videos .videos-channel .bottom .box {
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
  max-height: 200px;
}
.top-videos .videos-channel .bottom .box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 2;
}
.top-videos .videos-channel .bottom .box:hover:after {
  background-color: rgb(0 0 0 / 10%);
}
.top-videos .videos-channel .bottom .box .time {
  position: absolute;
  border: 10x solid;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.158);
  color: white;
  bottom: 4px;
  right: 2px;
  z-index: 3;
}
.top-videos .videos-channel .bottom .box p {
  color: black;
  font-size: 14px;
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.158);
  color: white;
  top: 5px;
  left: 0;
  z-index: 3;
}
/* end top-videos ====================================== */
/* start Stats ========================================= */
.stats {
  padding: var(--main-padding);
  position: relative;
  background-image: url("../imgs/stats.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(255 255 255 / 90%);
}
.stats h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto 80px;
  width: fit-content;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  color: #333;
  position: relative;
  overflow: hidden;
}
.stats .box::before {
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  top: -2%;
  border: 1px solid var(--main-color);
  transition: 1s;
}
.stats .box::after {
  content: "";
  position: absolute;
  height: 0;
  right: 0;
  bottom: -2%;
  border: 1px solid var(--main-color);
  transition: 1s;
}
.stats .box:hover i,
.stats .box:hover h3 {
  color: black;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 120%;
}
.stats .box h3 {
  font-size: 50px;
  margin: 10px 0;
}
.stats .box h4 {
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
/* end Stats =========================================== */
/* start Request-Descount ============================== */
.request {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-bottom: 50px;
}
.request .image {
  background-image: url("../imgs/discount-background1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  flex-basis: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.request .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(39 134 211 / 96%);
  z-index: -1;
}
.request .content {
  color: white;
}
.request .content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.request .content p {
  font-size: 18px;
  line-height: 1.9;
  max-width: 500px;
}
.request .image img {
  width: 300px;
}
/* form */
.request .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.request .form .con {
  text-align: center;
  padding: 0 20px;
}
.request .form .con h2 {
  margin-bottom: 25px;
  font-size: 40px;
  letter-spacing: -2px;
}

.request .con form input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
  outline: none;
}
.request .con form textarea {
  resize: none;
  height: 200px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  outline: none;
}
.request .con form input[type="submit"] {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  margin-top: 20px;
  transition: var(--main-transition);
  cursor: pointer;
}
.request .con form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end Request-Descount ================================ */
/* start footer ======================================== */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .container .box {
  color: white;
  padding: 10px 0;
}
/* box-1 ============== */
.footer .container .box h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.footer .container .box h2 span {
  color: var(--main-color);
}
.footer .container .box .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.footer .container .box .social a {
  color: white;
}
.footer .container .box .social i {
  padding: 15px;
  background-color: #313131;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .container .box .social i:hover {
  background-color: var(--main-color);
}
.footer .container .box p {
  color: var(--pargraph);
  line-height: 1.9;
}
/* box-2 =============== */
.footer .container .box ul li {
  padding: 13px;
  border-bottom: 1px solid var(--pargraph);
  transition: var(--main-transition);
}
.footer .container .box ul li:last-child {
  border: none;
}
.footer .container .box ul li a {
  color: var(--pargraph);
  transition: var(--main-transition);
}
.footer .container .box ul li a i {
  color: var(--main-color);
  margin-right: 5px;
}
.footer .container .box ul li:hover a {
  color: white;
  margin-left: 7px;
}
/* box-3 =================== */
.footer .container .box:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.footer .container .box .line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.footer .container .box .line i {
  color: var(--main-color);
}
/* box-4 */
.footer .container .box:nth-of-type(4) {
  display: grid;
  grid-template-columns: 105px 105px;
  gap: 15px;
  align-content: start;
  justify-content: center;
}
.footer .container .box img {
  border: 2px solid white;
}
.footer .foot {
  padding: 30px;
  border-top: 1px solid white;
  color: white;
  text-align: center;
}
/* end footer ==========================================*/
/* start animation =====================================*/
@keyframes up-un {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
/* سهم هزاز */
/* @keyframes bouncing {
  0%,
  10%,
  20%,
  30%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
  }
} */
/* انميشن الزرار */
@keyframes left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
/* تأثير الفلاش */
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end animation ============================*/
