/* start media global =========================*/
/* small ======================================*/
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* medium =====================================*/
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* large =====================================*/
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* X-Large ====================================*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* end media global ===========================*/
/* start hedear ===============================*/
@media (max-width: 767px) {
  .btn {
    display: none;
    visibility: hidden;
  }
  .header .logo {
    width: 100%;
  }
  .header .main-nav {
    margin: auto;
  }
  .header .main-nav > li > a {
    padding: 15px;
    font-size: 14px;
  }
  .header .main-nav > li > a::before {
    top: 100%;
    height: 2px;
  }
}
/* End Header ===================================*/
/* start megamenu ===============================*/
@media (max-width: 991px) {
  .header .container .mega-menu {
    flex-direction: column;
    padding: 5px;
    gap: 0;
    width: 100%;
    left: 0;
    align-items: flex-start;
  }
  .header .mega-menu .links {
    width: 100%;
    padding: 0 20px;
  }
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
  .header .mega-menu .links li a {
    color: var(--main-color);
    transition: var(--main-transition);
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 991px) {
  .header .container .mega-menu .image {
    display: none;
  }
}
/* end megamenu ================================*/
/* Start Linding  ==============================*/
@media (max-width: 991px) {
  .linding::before {
    transform: skewY(-16deg);
  }
  .linding .container {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .linding .text {
    text-align: center;
    margin-top: 50px;
  }
  .linding .text h1 {
    font-size: 25px;
  }
  .linding .image img {
    width: 400px;
  }
}
/* Start Articles ==============================*/
@media (max-width: 767px) {
  .articles .all-card .card {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .articles .all-card {
    justify-items: center;
    gap: 10px;
  }
  .articles .all-card .card {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .articles .all-card {
    justify-items: center;
    gap: 30px 0px;
    grid-template-columns: auto auto;
  }
}
/* End Articles ==================================*/
/* Start Testmonials =============================*/
@media (max-width: 767px) {
  .testmonials .box {
    text-align: center;
    padding-top: 50px;
  }
  .testmonials .box .image {
    left: 50%;
    transform: translateX(-50%);
  }
  .testmonials .box p {
    text-align: center;
  }
}
/* End Testmonials =================================*/
/* start our skils =================================*/
@media (max-width: 991px) {
  .our-skills .container {
    flex-direction: column;
    gap: 50px 0;
  }
}
/* end our skils ===================================*/
/* start How-It-Works===============================*/
@media (max-width: 991px) {
  .How-It-Works .container {
    flex-direction: column;
    gap: 50px 0;
  }
}
/* end How-It-Works===============================*/
